.logo .polygon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32.8px;
  height: 31.2px;
}
.logo .container {
  position: relative;
  width: 21.4px;
  height: 20.3px;
}
.logo .head-phones {
  position: relative;
  margin: 4.6px 0 3.7px 0;
  width: 114.1px;
  height: 12.1px;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 0 4.9px 5.7px;
  box-sizing: border-box;
}
